.banner {
  &__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    position: relative;
  }
  &__heading {
    position: absolute;
    z-index: 111;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
